* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: black;
  font-family: "IBM Plex Mono", monospace;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

nav ul li:first-child {
  margin-right: auto;
}

nav > ul > li {
  list-style: none;
}

a {
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #00e870;
}

@media (min-width: 400px) {
  body {
    width: 40vw;
    margin: 1rem auto;
  }
}

.title {
  color: #00e870;
  letter-spacing: 3px;
  text-transform: uppercase;
}
